@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
$color-primary: #ac1231;
$color-bg : #0A0A0A;
$color-bg2:#0F0F0F;
$color-bg3: #202020;
$gray: #9CA3AF;
$color-crimson:#850922;
$color-rose: #c21033;
$layout-md: 960px;
$layout-sm: 560px;

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
html {
    scroll-behavior: smooth;
    
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: $color-bg2;
    color: #fff;
    position: relative;
}
h1,h2,h3 {
    font-family: "Space Grotesk", Inter !important;
    font-weight: 700 !important;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: auto;
    backdrop-filter: blur(200px);
}

main::-webkit-scrollbar {
    display: none;
}
span.color {
    color: $color-primary;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.header {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;   
}
nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15rem;
    // background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #333333;
    top: 0;
    .logo {
        font-size: 1.5rem;
        font-weight: 600;
        color: $color-primary;
        font-family: Jetbrains Mono;
    }
    .nav-links {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 3rem;
        font-size: small;
        color: $gray;
        li {
            &:hover {
                color: #fff;
            }
        }
    }
}
nav.scroll {
    background-color: $color-bg2;
}
button {
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border: 1px solid #333333;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    font-weight: bold;
    transition: 200ms all ease;
    font-size: 1rem;
    &:hover {
        background-color: $color-primary;
        border-color: transparent;
        color: #fff;
    }
}
button.primary {
    background: $color-crimson;
    border: none;
    &:hover {
        background-color: $color-primary;
        color: #fff;
    }
}
.circle {
        position: absolute;
        height: 40vh;
        width: 400px;
        background-color: $color-crimson;
        border-radius: 50%;
        filter: blur(200px);
        top: 40%;
        left: 30%;
        z-index: -11;
    }
.hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
    gap: 10rem;
    background-color: transparent;
    border-bottom: 1px solid #333333;
    .left {
        display: flex;
        flex-direction: column;
        span {
            color: $color-rose;
            font-size: large;
            font-weight: 500;
        }
        h1 {
            display: flex;
            flex-direction: column;
            gap: 0;
            font-size: 5rem;
            font-weight: bolder;
            // font-family: Space Grotesk, JetBrains Mono, monospace;
            line-height: 5rem;
            span {
                color: white !important;
                font-size: inherit;
                font-weight: 600;
                font-family: inherit;
                &.color {
                    color: $color-rose !important;
                }
            }
            span.color {
                
                // font-family: JetBrains Mono, monospace;
            }
        }
         p {
            color: $gray;
            margin: 1rem 0;
            width: 550px;
        }
        .btns {
            display: flex;
            gap: 1rem;
        }
         .btn {
            width: fit-content;
            padding: 0.5rem 1rem;
            background-color: $color-primary;
            color: #fff;
            border-radius: 0.5rem;
            font-size: small;
            font-weight: 500;
        }
    }
    .right {

        .img {
            position: relative;
            .glow {
                top: -5px;
                left: -5px;
                border-radius: 50%;
                z-index: -1;
                position: absolute;
                width: 410px;
                height: 410px;
                background-color: rgba($color: $color-crimson, $alpha: 0.5);
                filter: blur(10px);
            }
            height: 400px;
            border-radius: 50%;
            width: 400px;
            box-shadow: 0 0 4rem rgba($color: $color-crimson, $alpha: 0.2);
            position: relative;
            img {
                // backdrop-filter: blur(100px);
                border-radius: 50%;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 11;
            }
        }
    }
    .arrow {
        font-size: 1rem;
        position: absolute;
        bottom: 4rem;
        cursor: pointer;
        color: $gray;
        &:hover {
            color: #fff;
        }
    }
}

.about {
    border-bottom: 1px solid #333333;
    background-color: $color-bg2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 15rem;
    h2 {
        font-size: 3rem;
        font-family: Jetbrains Mono;
        font-weight: 600;
        margin-bottom: 1rem;
        .color {
            color: $color-primary;
        }
    }
        p {
            color: $gray;
            text-align: center;
            width: 600px;
        }

    .cards {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
        .card {
            display: flex;
            background-color: $color-bg3;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: fit-content;
            padding: 1rem;
            border-radius: 10px;
            border: 1px solid transparent;
            transition: 200ms all ease-in;
            box-shadow: 0 4px 20px rgba(0,0,0,0.5);
            border: 1px solid #333333;
            .icon {
                width: fit-content;
                font-size: 2rem;
                color: $color-primary;
            }
            h4 {
                font-size: 1.25rem;
                font-weight: 500;
                margin: 0.5rem 0;
            }
             p {
                color: $gray;
                width: fit-content;
                font-family: JetBrains Mono, monospace;
            }
            &:hover {
                border-color: $color-primary;
            }
        }

    }
}

.skills {
    border-bottom: 1px solid #333333;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 15rem;
    h1 {
        font-family: Jetbrains Mono;
        font-size: 3rem;
    }
    .skills-cards {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        .skill-card {
            display: flex;
            flex-direction: column;
            .text {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }
            .progressbar {
                border: 1px solid #333333;
                margin-top: 1rem;
                height: 15px;
                background-color: $color-bg2;
                border-radius: 4px;
                width: 500px;
                overflow: hidden;
                .progress {
                    height: 100%;
                    width: 0;
                    background-color: $color-primary;
                }
            }
        }
    }
}


section.project {
    background-color: $color-bg2;
    border-bottom: 1px solid #333333;
    padding: 2rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    justify-content: center;
    h1 {
        font-family: Jetbrains Mono;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    .project-cards {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        .project-card {
            position: relative;
            border: 1px solid #333333;
            display: flex;
            flex-direction: column;
            background-color: $color-bg3;
            padding: 1rem 1rem 3rem;
            border-radius: 10px;
            width: 350px;
            transition: 200ms all ease;
            box-shadow: 0 0 20px rgba($color: black, $alpha: 0.9);
            h4 {
                font-size: larger;
            }
            p {
                color: $gray;
                margin-top: 0.5rem;
                width: 300px;
                font-size: 14px;
            }
            .tags {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                flex-wrap: wrap;
                .tag {
                    background-color: rgba(255,255,255,0.04);
                    color: $gray;
                    padding: 0.25rem 0.75rem;
                    font-size: small;
                    border-radius: 1rem;
                    border: 1px solid #333333;

                    
                } 
            }
            .links {
                position: absolute;
                bottom: 1rem;
                display: flex;
                align-items: center;
                .github {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    color: $color-primary;
                    font-weight: bold;
                    justify-content: center;
                }
            }
            &:hover {
                background-color: #1a1a1a;
                border-color: $color-crimson;
            }
        }

    }
}
section.contact {
    border-bottom: 1px solid #333333;
    background-color: $color-bg3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 15rem;
    h1 {
        font-family: Jetbrains Mono;
        font-size: 3rem;
    }
    .container {
        display: flex;
        margin-top: 1rem;
        gap: 4rem;
        .left {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        p {
            width: 400px;
            color: $gray;
        }
        .socials {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .social {
                display: flex;
                gap: 0.25rem;
                align-items: center;
                color: $color-crimson;
                gap: 10px;
                span {
                    color: #fff;
                }
            }
        }
    }
        .right {
            margin-top: 1rem;
            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                input, textarea {
                    background: rgba(255,255,255,0.02);
                    padding: 1rem;
                    border-radius: 10px;
                    width: 400px;
                    color: white;
                    resize: none;
                    border: 1px solid #333333;
                    &::placeholder {
                        color: $gray;
                    }
                }
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    font-size: 1rem;
                }  
            }
        }
    }
}
footer {
    background-color: $color-bg2;
    padding: 2rem 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: JetBrains Mono, monospace;
}

@media screen and (max-width: $layout-md) {
    html {
        overflow: hidden;
    }
    .circle {
        top: 0rem;
        left: 0rem;
        width: 80vw;
        filter: blur(150px);
    }
    .circle::after {
        content: "";
        height: 200px;
        width: 200px;
        bottom: -100%;
        background-color: gray;
        position: absolute;
        right: -0%;
    }
    nav {
        display: none;
    }
    main {
        backdrop-filter: blur(100px);
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        .hero {
            flex-direction: column;
            padding: 1rem;
            text-align: center;
            gap: 1rem;
            .left {
                order: 2;
                span {
                    font-size: 1rem;
                }
                h1 {
                    font-size: 3rem;
                    line-height: 3rem;

                    span {
                        font-size: inherit;
                    }
                }
                p {
                    width: fit-content ;
                }

                .btns {
                    justify-content: center;
                }
            }
            .right {
                .glow {
                    display: none;
                    height: 260px;
                    width: 260px;
                    filter: blur(100px);
                }
                .img {
                    height: 250px;
                    width: 250px;
                }

            }

            
        }

        .about {
            padding: 4rem 2rem;
            flex-direction: column;

            p {
                width: auto;
                font-size: small;
            }

            .cards {
                width: 90%;
                flex-direction: column;
                .card {
                    width: 100%;
                }
            }
        }

        .skills {
            padding: 2rem;
            width: 100%;

            .skills-cards {
                width: 90%;
                .skill-card {
                    font-size: small;
                    width: 100%;
                    .progressbar {
                        height: 10px;
                        width: 100%;
                    }
                }
            }


        }

        section.project {
            h1 {
                margin-bottom: 1rem;
                font-size: 2.5rem;
                line-height: 2.5rem;

            }
            padding: 2rem 1rem;
            .project-cards {
                margin-top: 1rem;
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .project-card {
                    width: 100%;
                    text-align: center;

                    p {
                        width: auto;
                        font-size: small;
                    }

                    .tags {
                        justify-content: center;
                    }

                    .links {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        .contact {
            width: 100vw;
            padding: 2rem 1rem;
            .container {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                align-items: center;
                .left {
                    width: 90%;
                    text-align: center;
                    overflow: hidden;
                    align-items: center;
                    p {
                        order: 2;
                        width: auto;
                        margin-bottom: 0;
                    }
                    .socials {
                        margin-top: 0;
                        margin-bottom: 1rem;
                        order: 1;
                        align-items: center;
                        .social {
                            text-align: center;
                            font-size: small;
                        }

                    }

                }
                .right {
                    width: 90%;
                    margin-top: 0;
                    form {
                        input, textarea  {
                            width: auto;
                            font-size: small;
                        }
                    }
                }

            }
        }
        footer {
            padding: 0;
            height: 3rem;
            overflow: hidden;
            p {
                color: $gray;
                width: 100%;
                text-align: center;
                font-size: small;
            }
        }
    }
}

@media screen and (max-width: $layout-sm){
     h1,h2,h3{
        line-height: 2rem !important;
        font-size: 2rem !important;
     }
     .hero {
         .arrow {
             bottom: 1rem;
            }

     }
}